<template>
    <div>
        <div class="half-text mb-3">
            <div class="float-left">
                <h3>Clients</h3>
            </div>
            <div class="float-right">
                <p><fa icon="plus-circle" class="mt-1" @click="toggleModal('client')" /></p>
            </div>
        </div>
        <ul>
            <li v-for="client in clients" v-bind:key="client.id">
                <div class="half-text">
                    <div class="float-left">
                        <span class="link" @click="loadClientProjects({clientId:client.id, tabId:2, showPage: 'add-project'})">{{ client.clientName }}</span>
                    </div>
                    <div class="float-right">
                        <fa icon="cog" @click="toggleModal('client-settings', client.id)" />
                        <fa icon="trash-alt" @click="toggleModal('delete-client', client.id)" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';

    export default {
        props: ['pageData'],
        
        computed:{ 
            ...mapGetters({
                clients: 'auth/clients'
            })
        },
        methods:{
            loadClientProjects: function(payload){
                // Load Projects
                this.$store.dispatch('auth/loadClientProjects', payload);

                this.$store.dispatch('auth/fetchProjects', payload.clientId);

                this.$store.dispatch('auth/togglePage', payload.showPage);
            },
            async toggleModal(modalName, clientId){
                if(clientId){
                    await this.$store.dispatch('auth/setClient', clientId);
                }

                this.$store.dispatch('auth/toggleModal', modalName);
            }
        }
    }
</script>
<style lang="scss">
    
</style>
