<template>
    <div>
        <div class="half-text mb-3">
            <div class="float-left">
                <h3>Projects</h3>
                <h4 v-if="client">{{ client.clientName }}</h4>
                <h4 v-else>Please select a client from the previous tab to show projects for that client.</h4>
            </div>
            <div class="float-right">
                <p><fa icon="plus-circle" class="mt-1" @click="toggleModal('project')" /></p>
            </div>
        </div>
        <ul>
            <li v-for="project in projects" v-bind:key="project.id">
                <div class="half-text">
                    <div class="float-left">
                        <span class="link" @click="loadProjectTasks({projectId:project.id, tabId:3, showPage: 'add-task'})">{{ project.projectName }}</span>
                    </div>
                    <div class="float-right">
                        <fa icon="info" @click="toggleModal('project-info', project.id)" />
                        <fa icon="cog" @click="toggleModal('project-settings', project.id)" />
                        <fa icon="trash-alt" @click="toggleModal('delete-project', project.id)" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';

    export default {
        computed:{ 
            ...mapGetters({
                client: 'auth/client',
                projects: 'auth/projects'
            })
        },
        methods:{
            loadProjectTasks: function(payload){
                // Load Projects
                this.$store.dispatch('auth/loadProjectTasks', payload);

                this.$store.dispatch('auth/fetchTasks', payload.projectId);

                this.$store.dispatch('auth/togglePage', payload.showPage);
            },
            async toggleModal(modalName, projectId){
                if(projectId){
                    await this.$store.dispatch('auth/setProject', projectId);
                }

                this.$store.dispatch('auth/toggleModal', modalName);
            }
        }
    }
</script>
<style lang="scss">
    
</style>
