<template>
    <div class="tab" :class="[tabData.open ? 'open' : '', tabData.name]">
        <div class="tab-closed" @click="toggleTab({ tabId: tabData.id, page: pageName })">
            <div>
                <span>{{ firstLetterUpper }}</span>
            </div>
            <div class="text-center mt-3">
                <fa icon="chevron-right" />
            </div>
        </div>
        <div class="tab-open">
            <slot></slot>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['tabData'],

        computed:{
            firstLetterUpper: function(){
                return this.tabData.name.charAt(0).toUpperCase() + this.tabData.name.slice(1);
            },
            pageName: function(){
                let pageName = this.tabData.name;
                pageName = pageName.slice(0, -1);
                return 'add-' + pageName;
            }
        },
        
        methods:{
            toggleTab: function(payload){
                this.$store.commit('auth/toggleTab', payload.tabId);

                this.$store.dispatch('auth/togglePage', payload.page);
            }
        }
    }
</script>
<style lang="scss">
    .tab{
        position:relative;
        display:block;
        float:left;
        width:50px;
        height:100%;
        transition:width 0.3s;
        &.open{
            width:300px;
            padding:15px;
            .tab-closed{
                display:none;
            }
            .tab-open{
                display:block;
            }
        }
        &.projects{
            background-color:#62e88e;
        }
        &.clients{
            background-color:#63bfff;
        }
        &.tasks{
            background-color:#fbff5f;
        }
        .tab-closed{
            position:absolute;
            display:block;
            top:50%;
            transform:translateY(-50%);
            & > div{
                display:inline-block;
                width:100%;
            }
            &:hover{
                cursor:pointer;
            }
            span{
                display:block;
                transform: rotate(90deg);
            }
        }
        .tab-open{
            display:none;
            ul{
                padding-left:19px;
            }
            .fa-plus-circle{
                font-size: 1.3em;
            }
        }
    }
    .tab.clients{
        background-color:#63bfff;
    }
</style>
    