<template>
    <div>
        <div class="half-text mb-3">
            <div class="float-left">
                <h3>Tasks</h3>
                <h4 v-if="project">{{ project.projectName }}</h4>
                <h4 v-else>Please select a project from the previous tab to see its tasks</h4>
            </div>
            <div class="float-right">
                <p><fa icon="plus-circle" class="mt-1" @click="toggleModal('task')" /></p>
            </div>
        </div>
        <ul class="mb-3">
            <li v-for="task in tasks" v-bind:key="task.id" v-if="!task.isComplete">
                <div class="half-text">
                    <div class="float-left">
                        <span class="link" @click="loadTimer(task.id)">{{ task.taskName }}</span>
                    </div>
                    <div class="float-right">
                        <fa icon="cog" @click="toggleModal('task-settings', task.id)" />
                        <fa icon="trash-alt" @click="toggleModal('delete-task', task.id)" />
                        <fa icon="check" @click="completeTask(task)" />
                    </div>
                </div>
            </li>
        </ul>
        <div>
            <h3>Complete Tasks</h3>
            <ul>
                <li v-for="task in tasks" v-bind:key="task.id" v-if="task.isComplete">
                    <span class="link" @click="loadTimer(task.id)">{{ task.taskName }}</span>
                </li>
            </ul>
        </div>
        <div class="bottom-buttons">
            <p>
                <span class="cta blue full-width" @click="toggleModal('create-invoice')">Generate Invoice</span>
            </p>
            <p class="pusher">
                <span class="cta blue full-width" @click="toggleModal('complete-project')">Complete Project</span>
            </p>
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
    import axios from 'axios';

    export default {
        computed:{ 
            ...mapGetters({
                project: 'auth/project',
                client: 'auth/client',
                tasks: 'auth/tasks',
                task: 'auth/task',
                user: 'auth/user'
            })
        },

        methods:{
            async loadTimer(taskId){
                await this.$store.dispatch('auth/setTask', {taskId:taskId, projectId:this.project.id});

                await this.$store.dispatch('auth/togglePage', 'task-timer');
            },
            toggleModal(modalName, taskId){
                if(modalName == "create-invoice"){
                    if(this.user.companyName == null){
                        this.$store.dispatch('auth/toggleModal', 'warn-complete-user-profile');
                    }else if(this.client.clientAddress == null){
                        this.$store.dispatch('auth/toggleModal', 'warn-complete-company-info');
                    }else{
                        this.$store.dispatch('auth/toggleModal', modalName);
                    }
                }else{
                    if(taskId){
                        this.$store.dispatch('auth/setTask', {taskId:taskId, projectId:this.project.id});
                    }
                    this.$store.dispatch('auth/toggleModal', modalName);
                }
            },
            async completeTask(task){
                this.$store.dispatch('auth/completeTask', task);
            }
        }
    }
</script>
<style lang="scss">
    .bottom-buttons{
        position:absolute;
        right:0;
        bottom:0;
        left:0;
        width:100%;
        padding:0 15px;
    }
</style>
