<template>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        Copyright &copy; {{ year }} Gooi Ltd.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="text-right">Privacy Policy | Terms and Conditions</p>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
    export default {
        data:() => ({
            year: new Date().getFullYear()
        })
    }
</script>
<style lang="scss">
    footer{
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        background-color:#1f132c;
        padding:30px 0;
        color:#fff;
        p{
            margin:0;
        }
    }
</style>
