<template>
    <div class="app-container">
        <tab v-for="tab in tabs" :key="tab.name" :tabData="tab">
            <component :is="tab.name" />
        </tab>
        <inner-tpl v-for="page in innerPages" :key="page.name" v-show="page.show">
            <component :is="page.name" />
        </inner-tpl>
        <add-client-modal></add-client-modal>
        <client-settings-modal></client-settings-modal>
        <delete-client-modal></delete-client-modal>
        <add-project-modal></add-project-modal>
        <project-settings-modal></project-settings-modal>
        <delete-project-modal></delete-project-modal>
        <add-task-modal></add-task-modal>
        <task-settings-modal></task-settings-modal>
        <delete-task-modal></delete-task-modal>
        <project-info-modal></project-info-modal>
        <create-quote-modal></create-quote-modal>
        <create-invoice-modal></create-invoice-modal>
        <complete-project-modal></complete-project-modal>
        <warn-complete-user-profile></warn-complete-user-profile>
        <warn-complete-company-info></warn-complete-company-info>
        <loading v-show="isLoading"></loading>
    </div>
</template>

<script>
    import Form from 'vform';
    import { mapGetters } from 'vuex';

    import TaskTimer from '../pages/inner/task-timer.vue';
    import InnerTpl from '../pages/inner/inner-tpl.vue';
    import AddClient from '../pages/inner/add-client.vue';
    import AddProject from '../pages/inner/add-project.vue';
    import AddTask from '../pages/inner/add-task.vue';
    import Tab from '~/components/tabs/Tab.vue';
    import Clients from '~/components/tabs/Clients.vue';
    import Projects from '~/components/tabs/Projects.vue';
    import Tasks from '~/components/tabs/Tasks.vue';
    import AddClientModal from './inner/modals/add-client-modal.vue';
    import ClientSettingsModal from './inner/modals/client-settings-modal.vue';
    import DeleteClientModal from './inner/modals/delete-client-modal.vue';
    import AddProjectModal from './inner/modals/add-project-modal.vue';
    import ProjectSettingsModal from './inner/modals/project-settings-modal.vue';
    import DeleteProjectModal from './inner/modals/delete-project-modal.vue';
    import AddTaskModal from './inner/modals/add-task-modal.vue';
    import TaskSettingsModal from './inner/modals/task-settings-modal.vue';
    import DeleteTaskModal from './inner/modals/delete-task-modal.vue';
    import ProjectInfoModal from './inner/modals/project-info-modal.vue';
    import CreateQuoteModal from './inner/modals/create-quote-modal.vue';
    import CreateInvoiceModal from './inner/modals/create-invoice-modal.vue';
    import CompleteProjectModal from './inner/modals/complete-project-modal.vue';
    import WarnCompleteUserProfile from './inner/modals/warn-complete-user-profile.vue';
    import WarnCompleteCompanyInfo from './inner/modals/warn-complete-company-info.vue';
    import Loading from '~/components/Loading.vue';

    export default {
        middleware: 'auth',

        layout: 'fullWidth',

        computed: mapGetters({
            tabs: 'auth/tabs',
            innerPages: 'auth/innerPages',
            isLoading: 'auth/loading'
        }),

        components:{
            InnerTpl,
            AddClient,
            AddProject,
            AddTask,
            TaskTimer,
            Tab,
            Clients,
            Projects,
            Tasks,
            AddClientModal,
            ClientSettingsModal,
            DeleteClientModal,
            AddProjectModal,
            ProjectSettingsModal,
            DeleteProjectModal,
            AddTaskModal,
            TaskSettingsModal,
            DeleteTaskModal,
            ProjectInfoModal,
            CreateQuoteModal,
            CreateInvoiceModal,
            CompleteProjectModal,
            WarnCompleteUserProfile,
            WarnCompleteCompanyInfo,
            Loading
        }
    }
</script>
<style lang="scss">
    .app-container{
        position: absolute;
        top: 122px;
        bottom: 84px;
        left: 0;
        right: 0;
        .main{
            height:100%;
            .fa-plus-square{
                font-size:5em;
            }
        }
        .modal.show{
            display:block;
            background-color:rgba(0,0,0,0.5);
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
</style>