<template>
    <div>
        Home
    </div>
</template>

<script>
    export default {
        middleware: 'auth',

        layout: 'fullWidth',

        metaInfo () {
            return { title: this.$t('home') }
        }
    }
</script>
