<template>
    <div>
        <section id=home-header class="bg-image">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="/images/logo.svg" class="mx-auto d-block mb-4" />
                        <h1 class="text-center">{{ title }}</h1>
                        <p class="text-center mt-3">A timekeeping web application that generates invoices for you.</p>
                        <p class="text-center mt-5">
                            <router-link :to="{ name: 'register' }" class="cta blue" active-class="active">
                                Register Now - It's FREE!
                            </router-link>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="home-body" class="container section-padding">
            <div class="row">
                <div class="col-sm-8">
                    <h2>What is Trinvoice?</h2>
                    <p>Trinvoice is a time tracking we application that will allow you to easily:</p>
                    <ul>
                        <li>Generate quotes for clients.</li>
                        <li>Efficiently track time spent working on projects.</li>
                        <li>Generate invoices after the project has been completed.</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <fa icon="cog" />
                </div>
            </div>
        </section>
    </div>
</template>

<script>

    import { mapGetters } from 'vuex'

    export default {

        layout: 'fullWidth',

        metaInfo () {
            return { title: this.$t('home') }
        },

        data: () => ({
            title: window.config.appName
        }),

        computed: mapGetters({
            authenticated: 'auth/check'
        })
    }
</script>

<style scoped lang="scss">
    #home-header{
        background-image:url('/images/home-header-bg.jpg');
        padding:50px 0;
        h1{
            font-size:5em;
            font-family: 'Spinnaker', Arial, Helvetica, sans-serif;;
            color:#fff;
            text-transform:uppercase;
            margin:0;
        }
        p{
            color:#fff;
        }
    }

    .title {
        font-size: 85px;
    }

    #home-body{
        .fa-cog{
            color:#a972e8;
            font-size:10em;
            display:block;
            margin:0 auto;
        }
    }
</style>
