<template>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center">
                <fa icon="plus-square" @click="toggleModal('client')" />
            </p>
            <h3 class="text-center">Click the plus to add a client and get started</h3>
        </div>
    </div>
</template>

<script>
    

    export default {
        methods:{
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            }
        }
    }
</script>

<style>

</style>