<template>
    <div class="main vertical-center">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">
                    <fa icon="plus-square" @click="toggleModal('project')" />
                </p>
                <h3 class="text-center">Click here to add a project for this client</h3>
            </div>
        </div>
        
    </div>
</template>
<script>

    export default {
        methods:{
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            }
        }
    }
</script>
<style>

</style>