<template>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center">
                <fa icon="plus-square" @click="toggleModal('task')" />
            </p>
            <h3 class="text-center">Click here to add a Task for this project</h3>
        </div>
    </div>
</template>
<script>
    

    export default {
        methods:{
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            }
        }
    }
</script>
<style>

</style>