<template>
    <div class="row">
        <div class="col-sm-12">
            <div class="timer" v-if="task">
                <h3 class="text-center">{{ task.taskName }}</h3>
                <h2 class="text-center" id="timer">{{ task.timeStr }}</h2>
                <p class="text-center mt-4" v-if="!task.isComplete">
                    <fa icon="pause" v-if="task.inProgress" @click="pauseTimer()" />
                    <fa icon="play" v-else @click="startTimer()" />
                </p>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
    import axios from 'axios';

    export default {
        
        computed: {
            ...mapGetters({
                project: 'auth/project',
                task: 'auth/task'
            })
        },
        methods:{
            startTimer() {
                this.$store.dispatch('auth/startTimer', this.task);
            },
            pauseTimer() {
                this.$store.dispatch('auth/pauseTimer', {taskId: this.task.id, projectId: this.project.id});
            }
        }
    }
</script>
<style lang="scss">
    .timer{
        h2{
            font-size:5em;
        }
        h3{
            font-size:3em;
        }
        .fa-play, .fa-pause{
            font-size:5em;
        }
    }
</style>