// // Body
$body-bg: #f7f9fb;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

// Colours
$purple:#a972e8;
$blue:#63bfff;
$green:#62e88e;
$yellow:#fbff5f;
$yellow-light:#fdffbd;

//Font
$font-family-sans-serif: 'Open Sans', Arial, Helvetica, sans-serif;
$font-spinnaker: 'Spinnaker', Arial, Helvetica, sans-serif;