//Generic Styles
html,body{
    height:100%;
    min-height:100%;
}

.pusher{
    margin-top:15px;
}
.pusher-more{
    margin-top:30px;
}

div#app,div.main-layout{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
}

.main-layout{
    padding-bottom: 84px;
}

.vertical-center{
	display: flex;
	align-items: center;
    justify-content: center;
    & > div{
        width:100%;
    }
}

.section-padding{
    padding:30px 0;
}

.bg-image{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.cta{
    color:#fff;
    padding:10px 15px;
    border-radius:15px;
    font-weight:bold;
    transition:background-color 0.3s;
    &:hover{
        color:#fff;
        text-decoration:none;
        cursor:pointer; 
    }
    &.blue{
        background-color:$blue;
        &:hover{
            background-color:darken($blue, 20%);
        }
    }
    &.green{
        background-color:$green;
        &:hover{
            background-color:darken($blue, 20%);
        }
    }
    &.full-width{
        display:inline-block;
        width:100%;
        text-align:center;
    }
}

.half-text{
    display:inline-block;
    width:100%;
}

span.link{
    color:#0000EE;
    &:hover{
        cursor:pointer;
    }
}
.tab{
    .fa-plus-circle, .fa-cog, .fa-play, .fa-pause, .fa-trash-alt, .fa-info, .fa-check{
        &:hover{
            cursor:pointer;
        }
    }
}

.pre{
    white-space: pre;
}

//Navbar
nav.navbar{
    background-color:$purple;
    a.navbar-brand{
        font-size:3em;
        text-transform:uppercase;
        color:#fff;
        font-weight:normal;
        font-family: $font-spinnaker;
        &:hover{
            color:#fff;
        }
    }
    ul.navbar-nav{
        li{
            a.nav-link{
                color:#fff;

            }
        }
    }
    img.logo{
        width:100px;
        margin-right:15px;
    }
}

//Bootstrap overrides
.card-header{
    background-color:$purple;
    color:#fff;
}

.btn{
    border-radius:15px;
    .btn-primary{
        color:#fff;
    }
}

.modal-lg-page{
    max-width:1200px;
    .modal-body{
        padding:2rem 7rem;
    }
    @media(max-width:1920px){
        max-width:60vw;
    }
}
