<template>
    <div class="container mt-4">
        <div class="row" v-if="completeProjects">
            <div class="col-md-4" v-for="project in completeProjects" v-bind:key="project.id">
                <div class="card">
                    <div class="card-header">
                        {{ project.projectName }}
                    </div>
                    <div class="card-body">
                        Completed On: {{ project.created_at }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Completed Invoices
                    </div>
                    <div class="card-body">
                        <p class="text-center">It looks like you haven't completed any projects yet. Once you have added and completed a project then it will show up here for later review.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
    middleware: 'auth',

    computed: {
        ...mapGetters({
            completeProjects: 'auth/completeProjects'
        })
    },

    beforeCreate(){
        this.$store.dispatch('auth/fetchCompleteProjects');
    }
}
</script>
<style lang="sass">

</style>
