<template>
    <card :title="$t('your_info')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('info_updated')"/>

            <!-- First Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('firstName') }}</label>
                <div class="col-md-7">
                    <input v-model="form.firstName" :class="{ 'is-invalid': form.errors.has('firstName') }" class="form-control" type="text" name="firstName">
                    <has-error :form="form" field="firstName"/>
                </div>
            </div>

            <!-- Last Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('lastName') }}</label>
                <div class="col-md-7">
                    <input v-model="form.lastName" :class="{ 'is-invalid': form.errors.has('lastName') }" class="form-control" type="text" name="lastName">
                    <has-error :form="form" field="lastName"/>
                </div>
            </div>

            <!-- Email -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
                <div class="col-md-7">
                    <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" type="email" name="email">
                    <has-error :form="form" field="email" />
                </div>
            </div>

            <!-- Phone -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Phone</label>
                <div class="col-md-7">
                    <input v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" class="form-control" type="text" name="phone">
                    <has-error :form="form" field="phone"/>
                </div>
            </div>

            <!-- Company Name -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Company Name</label>
                <div class="col-md-7">
                    <input v-model="form.companyName" :class="{ 'is-invalid': form.errors.has('companyName') }" class="form-control" type="text" name="companyName">
                    <has-error :form="form" field="companyName"/>
                </div>
            </div>

            <!-- Company Logo -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Company Logo</label>
                <div class="col-md-7">
                    <img v-if="user.companyLogo" :src="user.companyLogo" class="img-fluid mb-2" />
                    <input class="form-control" id="companyLogoUpload" type="file" name="companyLogo" @change="onFileChange">
                </div>
            </div>

            <!-- Company Url -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Company Url</label>
                <div class="col-md-7">
                    <input v-model="form.companyURL" :class="{ 'is-invalid': form.errors.has('companyURL') }" class="form-control" type="text" name="companyURL">
                    <has-error :form="form" field="companyURL"/>
                </div>
            </div>

            <!-- Company Address -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Company Address</label>
                <div class="col-md-7">
                    <textarea v-model="form.companyAddress" :class="{ 'is-invalid': form.errors.has('companyAddress') }" class="form-control" name="companyAddress" rows="5"></textarea>
                    <has-error :form="form" field="companyAddress"/>
                </div>
            </div>

            <!-- Hourly Rate -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Hourly Rate</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">£</span>
                        </div>
                        <input v-model="form.hourlyRate" :class="{ 'is-invalid': form.errors.has('hourlyRate') }" class="form-control" type="number" step=".01" name="hourlyRate">
                        <div class="input-group-append">
                            <span class="input-group-text">per hour</span>
                        </div>
                    </div>
                    <has-error :form="form" field="hourlyRate"/>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group row">
                <div class="col-md-9 ml-md-auto">
                <v-button :loading="form.busy" type="success">{{ $t('update') }}</v-button>
                </div>
            </div>
        </form>
    </card>
</template>

<script>
    import Form from 'vform';
    import objectToFOrmData from 'object-to-formdata';
    import { mapGetters } from 'vuex';

    import axios from 'axios';

    export default {
        scrollToTop: false,

        metaInfo () {
            return { title: this.$t('settings') }
        },

        data: () => ({
            form: new Form({
                firstName: '',
                lastName: '',
                email: '',
                phone: '',
                companyName: '',
                companyLogo: '',
                companyURL: '',
                companyAddress: '',
                hourlyRate: ''
            })
        }),

        computed: mapGetters({
            user: 'auth/user'
        }),

        created () {
            // Fill the form with user data.
            this.form.keys().forEach(key => {
                this.form[key] = this.user[key]
            })
        },

        methods: {
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            async update () {

                if(document.getElementById("companyLogoUpload").value != "") {
                    axios.post('/api/upload',{image: this.image}).then(response => {
                        // Nothing?
                    });
                }

                const { data } = await this.form.patch('/api/settings/profile')

                this.$store.dispatch('auth/updateUser', { user: data })
            }
        }
    }
</script>
