<template>
    <div class="main-layout">
        <navbar/>

        <div class="container mt-4">
            <child/>
        </div>

        <footer-c/>
    </div>
</template>

<script>
    import Navbar from '~/components/Navbar'
    import FooterC from '~/components/Footer';

    export default {
        name: 'MainLayout',

        components: {
            Navbar,
            FooterC
        }
    }
</script>
