<template>
    <div class="main-layout">
        <navbar/>
        <child/>
        <footer-c/>
    </div>
</template>

<script>
    import Navbar from '~/components/Navbar';
    import FooterC from '~/components/Footer';

    export default {
        name: 'FullWidthLayout',

        components: {
            Navbar,
            FooterC
        }
    }
</script>
