<template>
    <div class="modal fade" :class="{ show: modals[2].open }" tabindex="-1" role="dialog" @click.self="toggleModal('task')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('task')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="addTask" @keydown="taskForm.onKeydown($event)">
                        <!-- Task -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input v-model="taskForm.taskName" :class="{ 'is-invalid': taskForm.errors.has('taskName') }" class="form-control" type="text" name="taskName" placeholder="Task Name">
                                <has-error :form="taskForm" field="taskName"/>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('task')">Close</button>
                        <v-button :loading="taskForm.busy" class="btn btn-primary">
                            Add Task
                        </v-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Form from 'vform';
    import { mapGetters } from 'vuex';

    export default {

        data: () => ({
            taskForm: new Form({
                projectId: '',
                taskName: ''
            })
        }),

        computed: {
            ...mapGetters({
                modals: 'auth/modals',
                project: 'auth/project'
            })
        },

        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            },
            async addTask(){

                // Add the Task.
                const { data } = await this.taskForm.post('/api/addtask');

                // Update the list
                this.$store.dispatch('auth/fetchTasks', this.project.id);

                // hide the modal
                this.$store.dispatch('auth/toggleModal', 'task');
                
            }
        },

        watch:{
            project: function(val){
                if(val){
                    this.taskForm.projectId = val.id;
                    this.$store.dispatch('auth/loading', false);
                }else{
                    this.$store.dispatch('auth/loading', true);
                }
            }
        }
    }
</script>
