<template>
    <div class="modal fade" :class="{ show: modals[0].open }" tabindex="-1" role="dialog" @click.self="toggleModal('client')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('client')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="addClient" @keydown="clientForm.onKeydown($event)">
                        <!-- Client -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input v-model="clientForm.client" :class="{ 'is-invalid': clientForm.errors.has('email') }" class="form-control" type="text" name="client" placeholder="Client Name">
                                <has-error :form="clientForm" field="client"/>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('client')">Close</button>
                        <v-button :loading="clientForm.busy" class="btn btn-primary">
                            Add Client
                        </v-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Form from 'vform';
    import { mapGetters } from 'vuex';

    export default {

        data: () => ({
            clientForm: new Form({
                client: ''
            })
        }),

        computed: {
            ...mapGetters({
                modals: 'auth/modals'
            })
        },

        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            },
            async addClient(){

                // Add the client.
                const { data } = await this.clientForm.post('/api/addclient');

                // Update the list
                this.$store.dispatch('auth/fetchClient');

                // hide the modal
                this.$store.dispatch('auth/toggleModal', 'client');
            }
        }
    }
</script>
