<template>
    <div class="modal fade" :class="{ show: modals[1].open }" tabindex="-1" role="dialog" @click.self="toggleModal('project')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('project')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="addProject" @keydown="projectForm.onKeydown($event)">
                        <!-- Client -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input v-model="projectForm.project" :class="{ 'is-invalid': projectForm.errors.has('email') }" class="form-control" type="text" name="project" placeholder="Project Name">
                                <has-error :form="projectForm" field="client"/>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('project')">Close</button>
                        <v-button :loading="projectForm.busy" class="btn btn-primary">
                            Add Project
                        </v-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Form from 'vform';
    import { mapGetters } from 'vuex';

    export default {

        data: () => ({
            projectForm: new Form({
                clientId: '',
                project: ''
            })
        }),

        computed: {
            ...mapGetters({
                modals: 'auth/modals',
                client: 'auth/client'
            })
        },

        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            },
            async addProject(){

                // Add the Project.
                const { data } = await this.projectForm.post('/api/addproject');

                // Update the list
                this.$store.dispatch('auth/fetchProjects', this.client.id);

                // hide the modal
                this.$store.dispatch('auth/toggleModal', 'project');
                
            }
        },

        watch:{
            client: function(val){
                if(val){
                    this.projectForm.clientId = val.id;
                    this.$store.dispatch('auth/loading', false);
                }else{
                    this.$store.dispatch('auth/loading', true);
                }
            }
        }
    }
</script>