<template>
    <div class="modal fade" :class="{ show: modals[4].open }" tabindex="-1" role="dialog" @click.self="toggleModal('client-settings')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="client" class="modal-title">Settings For:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('client-settings')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="updateClientSettings" @keydown="clientSettingsForm.onKeydown($event)">
                        <!-- Update Client Name -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input v-model="clientSettingsForm.clientName" :class="{ 'is-invalid': clientSettingsForm.errors.has('clientName') }" class="form-control" type="text" name="clientName" >
                                <has-error :form="clientSettingsForm" field="clientName"/>
                            </div>
                        </div>
                        <!-- Update Client Address -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea v-model="clientSettingsForm.clientAddress" :class="{ 'is-invalid': clientSettingsForm.errors.has('clientAddress') }" class="form-control" name="clientAddress" rows="5" placeholder="Client Address"></textarea>
                                <has-error :form="clientSettingsForm" field="clientAddress"/>
                                <p>NOTE: This will be used when generating an invoice for this client. It is not mandatory.</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('client-settings')">Close</button>
                        <v-button :loading="clientSettingsForm.busy" class="btn btn-primary">
                            Update Settings
                        </v-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Form from 'vform';

    import { mapGetters } from 'vuex';

    export default {
        data: () => ({
            clientSettingsForm: new Form ({
                clientId: '',
                clientName: '',
                clientAddress: ''
            })
        }),
        computed:{
            ...mapGetters({
                modals: 'auth/modals',
                client: 'auth/client'
            })
        },
        methods:{
            async updateClientSettings(){
                const { data } = await this.clientSettingsForm.patch('/api/clients/' + this.client.id); // await can only be used inside an async function. Need to read up on this.

                this.$store.dispatch('auth/updateClient', { client: data });

                this.toggleModal('client-settings');
            },
            toggleModal(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            }
        },
        watch:{
            client: function(val){
                if(val){
                    this.clientSettingsForm.clientId = val.id;
                    this.clientSettingsForm.clientName = val.clientName;
                    this.clientSettingsForm.clientAddress = val.clientAddress;
                    this.$store.dispatch('auth/loading', false);
                }else{
                    this.$store.dispatch('auth/loading', true);
                }
            }
        },
        beforeCreate(){
            // do the fetch of complete projects here and that should be everything I need.
            this.$store.dispatch('auth/fetchClient');
        }
    }
</script>

