<template>
    <div class="modal fade" :class="{ show: modals[12].open }" tabindex="-1" role="dialog" @click.self="toggleModal('complete-project')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Finish Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('complete-project')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-danger text-center" v-if="project"><strong>Are you sure you want to mark project: {{ project.projectName }} as complete?</strong></p>
                    <p class="text-center">This will remove the project from the projects tab and place it in the complete projects page where you can review it or get the invoice again at a later date.</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('complete-project')">Cancel</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" @click="completeProject(project)">Complete Project</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                modals: 'auth/modals',
                project: 'auth/project'
            })
        },

        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            },
            completeProject: function(project){

                axios.post('/api/completeproject/', project);
            }
        }
    }
</script>
