<template>
    <div class="modal fade" :class="{ show: modals[10].open }" tabindex="-1" role="dialog" @click.self="toggleModal('create-quote')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Create Quote</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('create-quote')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-danger text-center" v-if="client"><strong>Are you sure you want to delete client: {{ client.clientName }}?</strong></p>
                    <p class="text-center">This can not be un-done and you will lose all projects and tasks associated with this client.</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('create-quote')">Cancel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteClient(client.id)">Delete Client</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                modals: 'auth/modals',
                client: 'auth/client'
            })
        },

        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            },
            async deleteClient(clientId){

                // Add the client.
                axios.delete('/api/clients/' + clientId);

                // Update the list
                this.$store.dispatch('auth/deleteClient', clientId);

                // hide the modal
                this.$store.dispatch('auth/toggleModal', 'delete-client');
            }
        }
    }
</script>
