<template>
    <div class="modal fade" :class="{ show: modals[11].open }" tabindex="-1" role="dialog" @click.self="toggleModal('create-invoice')">
        <div id="invoice-modal" class="modal-dialog modal-lg-page" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Create Invoice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('create-invoice')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img v-if="user.companyLogo" :src="user.companyLogo" alt="" class="img-fluid" id="company-logo">
                            <h3 id="inv-companyname">{{ user.companyName }}</h3>
                            <p id="inv-companyURL"><a :href="user.companyURL">{{ user.companyURL }}</a></p>
                            <p id="inv-number" v-if="project"><strong>Invoice Number:</strong> {{ invoiceNumber }}</p>
                        </div>
                        <div class="col-sm-4 offset-sm-4">
                            <div class="row">
                                <div id="inv-label-companyaddress" class="col-sm-4">
                                    <p><strong>Address:</strong></p>
                                </div>
                                <div class="col-sm-8">
                                    <p id="inv-companyaddress" class="pre">{{ user.companyAddress }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p><strong>Phone:</strong></p>
                                </div>
                                <div class="col-sm-8">
                                    <p id="inv-phone">{{ user.phone }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p><strong>Email:</strong></p>
                                </div>
                                <div class="col-sm-8">
                                    <p><a :href="user.email" id="inv-email">{{ user.email }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="client">
                        <div class="col-sm-12" v-if="client.clientAddress">
                            <h3>Recipient</h3>
                            <p id="inv-customeraddress" class="pre">{{ client.clientAddress }}</p>
                        </div>
                    </div>
                    <div class="row" v-if="project">
                        <div class="col-sm-6">
                            <h3>Invoice Subject</h3>
                            <h4 id="inv-subject">{{ project.projectName }}</h4>
                        </div>
                        <div class="col-sm-6 text-right">
                            <h3>Quote Date</h3>
                            <p id="inv-quotedate">{{ now }}</p>
                        </div>
                    </div>
                    <div class="row" v-if="tasks">
                        <div class="col-sm-12">
                            <table id="inv-tasks" class="table table-striped table-bordered pusher-more">
                                <tr>
                                    <th>
                                        Item
                                    </th>
                                    <th>
                                        Time @ £{{ user.hourlyRate }}
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                </tr>
                                <tr v-for="task in tasks" v-bind:key="task.id">
                                    <td>{{ task.taskName }}</td>
                                    <td>{{ task.timeStr }}</td>
                                    <td>£{{ singleAmount(task.elapsed) }}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><strong>Total Time:</strong> {{ totalHours }}</td>
                                    <td><strong>Total Amount:</strong> £{{ amountEarned }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Notes</h3>
                            <p>Total Due amount should be paid within 14 days from the issue date of this invoice. We reserve the right to claim statutory interest at 8% above the Bank of England base rate for late payment in accordance with the Late Payment of Commercial Debts (Interest) Act 1998.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-center">
                        <button type="button" class="btn btn-success" data-dismiss="modal" @click="makePDF()">Download Invoice</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('create-invoice')">Cancel</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import jsPDF from 'jspdf';
    import 'jspdf-autotable';

    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {
        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            },
            singleAmount(time){
                time = time / 3600;
                return (time * this.user.hourlyRate).toFixed(2);
            },
            makePDF(){
                function convertToPt(amount){
                    return (amount * 3) / 4;
                }

                let docHeight = convertToPt(document.getElementById('invoice-modal').offsetHeight);
                let docWidth = convertToPt(document.getElementById('invoice-modal').offsetWidth);

                var doc = new jsPDF({
                    orientation: 'portrait',
                    unit: 'px',
                    format: [docWidth, docHeight]
                });

                let getBase64Image = function(img){
                    var canvas = document.createElement("canvas");
                    canvas.width = img.naturalWidth;
                    canvas.height = img.naturalHeight;
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0);
                    var dataURL = canvas.toDataURL("image/png");
                    return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
                }

                let logo = document.getElementById("company-logo");
                let base64 = getBase64Image(logo);
                let labelcompanyaddress = document.getElementById('inv-label-companyaddress')
                let companyaddress = document.getElementById('inv-companyaddress');
                let companyname = document.getElementById('inv-companyname');
                let phone = document.getElementById('inv-phone');
                let email = document.getElementById('inv-email');
                let companyURL = document.getElementById('inv-companyURL');
                let subject = document.getElementById('inv-subject');
                let customeraddress = document.getElementById('inv-customeraddress');
                let quotedate = document.getElementById('inv-quotedate');
                let tasks = document.getElementById('inv-tasks');
                let leftAlign = 0;

                if(companyaddress.offsetWidth > email.offsetWidth){
                    leftAlign = convertToPt(companyaddress.offsetWidth);
                }else{
                    leftAlign = convertToPt(email.offsetWidth);
                }

                doc.setFontSize(convertToPt(16));

                doc.addImage(base64, 'png|jpg', convertToPt(100), convertToPt(30), convertToPt(logo.width), convertToPt(logo.height));
                // Address
                doc.setFontStyle('bold');
                doc.text('Address:', ((docWidth - leftAlign) - convertToPt(labelcompanyaddress.offsetWidth)), convertToPt(50));
                doc.setFontStyle('normal');
                doc.text(this.user.companyAddress, (docWidth - leftAlign) - convertToPt(45), convertToPt(50));
                // Phone
                doc.setFontStyle('bold');
                doc.text('Phone:', ((docWidth - leftAlign) - convertToPt(labelcompanyaddress.offsetWidth)), convertToPt(22) + convertToPt(companyaddress.offsetHeight));
                doc.setFontStyle('normal');
                doc.text(this.user.phone, (docWidth - leftAlign) - convertToPt(45), convertToPt(22) + convertToPt(companyaddress.offsetHeight));
                // Email
                doc.setFontStyle('bold');
                doc.text('Email:', ((docWidth - leftAlign) - convertToPt(labelcompanyaddress.offsetWidth)), convertToPt(25) + convertToPt(companyaddress.offsetHeight) + convertToPt(phone.offsetHeight));
                doc.setFontStyle('normal');
                doc.text(this.user.email, (docWidth - leftAlign) - convertToPt(45), convertToPt(25) + convertToPt(companyaddress.offsetHeight) + convertToPt(phone.offsetHeight));

                // Company name under logo
                doc.setFontSize(convertToPt(28));
                doc.text(this.user.companyName, convertToPt(100), (convertToPt(60) + convertToPt(logo.height)));
                // Company URL
                doc.setFontSize(convertToPt(16));
                doc.text(this.user.companyURL, convertToPt(100), (convertToPt(60) + convertToPt(logo.height) + convertToPt(20)));

                // Invoice Number
                doc.text('Invoice Number: ' + this.invoiceNumber, convertToPt(100), (convertToPt(60) + convertToPt(logo.height) + convertToPt(50)));

                // Recipient Title and Address
                doc.setFontSize(convertToPt(28));
                doc.text('Recipient', convertToPt(100), (convertToPt(logo.height) + convertToPt(155)));
                doc.setFontSize(convertToPt(16));
                doc.text(this.client.clientAddress, convertToPt(100), (convertToPt(logo.height) + convertToPt(175)));

                // Quote is for...(Invoice Subject)
                doc.setFontSize(convertToPt(28));
                doc.text('Invoice Subject', convertToPt(100), (convertToPt(175) + convertToPt(logo.height) + convertToPt(companyaddress.offsetHeight)));
                doc.setFontSize(convertToPt(24));
                doc.text(this.project.projectName, convertToPt(100), (convertToPt(logo.height) + convertToPt(200) + convertToPt(companyaddress.offsetHeight)));

                // Quote Date
                doc.setFontSize(convertToPt(28));
                doc.text('Quote Date', (docWidth - leftAlign) - convertToPt(40), (convertToPt(175) + convertToPt(logo.height) + convertToPt(companyaddress.offsetHeight)));
                doc.setFontSize(convertToPt(16));
                doc.text(this.now, ((docWidth - leftAlign) + convertToPt(15)), (convertToPt(195) + convertToPt(logo.height) + convertToPt(companyaddress.offsetHeight)));

                // Table of the things that got done
                let tasksTableArr = [],
                    hourlyRate = this.user.hourlyRate;

                this.tasks.forEach(task => {
                    function singleAmount(time){
                        time = time / 3600;
                        return (time * hourlyRate).toFixed(2);
                    }
                    
                    let time = task.elapsed
                    tasksTableArr.push({
                        'Item' : task.taskName,
                        'Time' : task.timeStr,
                        'Amount' : '£'+singleAmount(task.elapsed)
                    })
                });

                tasksTableArr.push({
                    'Item' : '',
                    'Time' : 'Total Time: ' + this.totalHours,
                    'Amount' : 'Total Amount: £' + this.amountEarned
                });

                doc.autoTable({
                    startY: (convertToPt(225) + convertToPt(logo.height) + convertToPt(companyaddress.offsetHeight)),
                    theme: 'grid',
                    margin: {
                        left: convertToPt(100),
                        right: convertToPt(100)
                    },
                    head: [{'Item':'Item', 'Time':'Time', 'Amount':'Amount'}],
                    body: tasksTableArr,
                    styles: {
                        fontSize: convertToPt(16),
                        cellPadding: convertToPt(12)
                    }
                });

                // Notes
                doc.setFontSize(convertToPt(28));
                doc.text('Payment Terms', convertToPt(100), (convertToPt(225) + convertToPt(logo.height) + convertToPt(companyaddress.offsetHeight) + convertToPt(tasks.offsetHeight)));
                doc.setFontSize(convertToPt(16));
                doc.text('Total Due amount should be paid within 14 days from the issue date of this invoice. We reserve the right to claim statutory interest at 8% above the Bank of England base rate for late payment in accordance with the Late Payment of Commercial Debts (Interest) Act 1998.', convertToPt(100), (convertToPt(240) + convertToPt(logo.height) + convertToPt(companyaddress.offsetHeight) + convertToPt(tasks.offsetHeight)), {maxWidth: docWidth - convertToPt(200)});
                doc.setFontStyle('bold');
                doc.text('THANK YOU FOR YOUR BUSINESS!', (docWidth / 2) - 75, (convertToPt(300) + convertToPt(logo.height) + convertToPt(companyaddress.offsetHeight) + convertToPt(tasks.offsetHeight)))

                // Save
                doc.save(this.client.clientName + ' - ' + this.project.projectName +' - Invoice.pdf');
            }
        },

        computed: {
            ...mapGetters({
                modals: 'auth/modals',
                client: 'auth/client',
                project: 'auth/project',
                tasks: 'auth/tasks',
                user: 'auth/user'
            }),
            invoiceNumber(){
                let company = this.user.companyName.substring(0,2).toUpperCase(),
                    project = this.project.projectName.substring(0,2).toUpperCase(),
                    id = this.project.id,
                    invoiceNumber = company + project + "0" + id;
                return invoiceNumber;
            },
            now(){
                let now = new Date();
                let day = now.getDate();
                let month = now.getMonth() + 1;
                let year = now.getFullYear();
                return day + '/' + month + '/' + year;
            },
            totalHours(){
                let secs = this.project.totalHoursWorked;
                let hrs = Math.floor(secs / 3600);
                secs %= 3600;
                let mns = Math.floor(secs / 60);
                secs %= 60;
                return (hrs < 10 ? '0' : '') + hrs + ':' + (mns < 10 ? '0' : '') + mns + ':' + (secs < 10 ? '0' : '') + secs;
            },
            amountEarned(){
                let hours = this.project.totalHoursWorked / 3600;
                return (hours * this.user.hourlyRate).toFixed(2);
            }
        }
    }
</script>
