<template>
    <div class="modal fade" :class="{ show: modals[8].open }" tabindex="-1" role="dialog" @click.self="toggleModal('delete-task')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Delete Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('delete-task')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-danger text-center" v-if="task"><strong>Are you sure you want to delete project: {{ task.taskName }}?</strong></p>
                    <p class="text-center">This can not be un-done.</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('delete-task')">Cancel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteTask(task.id)">Delete Task</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                modals: 'auth/modals',
                task: 'auth/task'
            })
        },

        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            },
            async deleteTask(taskId){

                // Add the client.
                await axios.delete('/api/tasks/' + taskId);

                // Update the list
                this.$store.dispatch('auth/deleteTask', taskId);

                // hide the modal
                this.$store.dispatch('auth/toggleModal', 'delete-task');
            }
        }
    }
</script>
