<template>
    <div class="modal fade" :class="{ show: modals[6].open }" tabindex="-1" role="dialog" @click.self="toggleModal('delete-project')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Delete Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('delete-project')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-danger text-center" v-if="project"><strong>Are you sure you want to delete project: {{ project.projectName }}?</strong></p>
                    <p class="text-center">This can not be un-done and you will lose all tasks associated with this project.</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('delete-project')">Cancel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteClient(project.id)">Delete Project</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                modals: 'auth/modals',
                project: 'auth/project'
            })
        },

        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            },
            async deleteClient(clientId){

                // Add the client.
                axios.delete('/api/projects/' + clientId);

                // Update the list
                this.$store.dispatch('auth/deleteProject', clientId);

                // hide the modal
                this.$store.dispatch('auth/toggleModal', 'delete-project');
            }
        }
    }
</script>
