<template>
    <div class="modal fade" :class="{ show: modals[3].open }" tabindex="-1" role="dialog" @click.self="toggleModal('project-settings')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="project" class="modal-title">Settings For:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('project-settings')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="updateProjectSettings" @keydown="projectSettingsForm.onKeydown($event)">
                        <!-- Update Project Name -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input v-model="projectSettingsForm.projectName" :class="{ 'is-invalid': projectSettingsForm.errors.has('projectName') }" class="form-control" type="text" name="projectName" >
                                <has-error :form="projectSettingsForm" field="projectName"/>
                            </div>
                        </div>
                        <!-- Timer checkbox -->
                        <div class="form-group form-check row">
                            <div class="col-md-12">
                                <input v-model="projectSettingsForm.isNotTimed" :class="{ 'is-invalid': projectSettingsForm.errors.has('hourlyOverride') }" class="form-check-input" type="checkbox" name="isNotTimed">
                                <label for="isNotTimed" class="form-check-label">Check if this job is a set price and does not require to be timed.</label>
                                <has-error :form="projectSettingsForm" field="isNotTimed"/>
                            </div>
                        </div>
                        <!-- Hourly Override -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">£</span>
                                    </div>
                                    <input v-model="projectSettingsForm.hourlyOverride" :class="{ 'is-invalid': projectSettingsForm.errors.has('hourlyOverride') }" class="form-control" type="number" step=".01" name="hourlyOverride" placeholder="Hourly Rate">
                                    <div class="input-group-append">
                                        <span class="input-group-text">per hour</span>
                                    </div>
                                </div>
                                <has-error :form="projectSettingsForm" field="hourlyOverride"/>
                                <p>NOTE: This will override the Hourly rate setting on your profile page.</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('project-settings')">Close</button>
                        <v-button :loading="projectSettingsForm.busy" class="btn btn-primary">
                            Update Settings
                        </v-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Form from 'vform';

    import { mapGetters } from 'vuex';

    export default {
        data: () => ({
            projectSettingsForm: new Form ({
                projectId: '',
                projectName: '',
                isNotTimed: false,
                hourlyOverride: ''
            })
        }),
        computed:{
            ...mapGetters({
                modals: 'auth/modals',
                project: 'auth/project'
            })
        },
        methods:{
            async updateProjectSettings(){
                const { data } = await this.projectSettingsForm.patch('/api/projects/' + this.project.id); // await can only be used inside an async function. Need to read up on this.

                this.$store.dispatch('auth/updateProject', { project: data });

                this.toggleModal('project-settings');
            },
            toggleModal(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            }
        },
        watch:{
            project: function(val){
                if(val){
                    this.projectSettingsForm.projectId = val.id;
                    this.projectSettingsForm.projectName = val.projectName;
                    this.projectSettingsForm.isNotTimed = val.isNotTimed;
                    this.projectSettingsForm.hourlyOverride = val.hourlyOverride;
                    this.$store.dispatch('auth/loading', false);
                }else{
                    this.$store.dispatch('auth/loading', true);
                }
            }
        }
    }
</script>

