<template>
    <div class="modal fade" :class="{ show: modals[9].open }" tabindex="-1" role="dialog" @click.self="toggleModal('project-info')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Project Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('project-info')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-if="project">
                    <p>So far on this project you have spent a total of {{ totalHours }} on this project and earned £{{ amountEarned }}</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('project-info')">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                user: 'auth/user',
                modals: 'auth/modals',
                project: 'auth/project'
            }),
            totalHours(){
                let secs = this.project.totalHoursWorked;
                let hrs = Math.floor(secs / 3600);
                secs %= 3600;
                let mns = Math.floor(secs / 60);
                secs %= 60;
                return (hrs < 10 ? '0' : '') + hrs + ':' + (mns < 10 ? '0' : '') + mns + ':' + (secs < 10 ? '0' : '') + secs;
            },
            amountEarned(){
                let hours = this.project.totalHoursWorked / 3600;
                return (hours * this.user.hourlyRate).toFixed(2);
            }
        },

        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            }
        }
    }
</script>
