<template>
    <div class="modal fade" :class="{ show: modals[7].open }" tabindex="-1" role="dialog" @click.self="toggleModal('task-settings')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="task" class="modal-title">Rename Task:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('task-settings')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="updateTaskSettings" @keydown="taskSettingsForm.onKeydown($event)">
                        <!-- Update Task Name -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input v-model="taskSettingsForm.taskName" :class="{ 'is-invalid': taskSettingsForm.errors.has('taskName') }" class="form-control" type="text" name="taskName" >
                                <has-error :form="taskSettingsForm" field="taskName"/>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="toggleModal('task-settings')">Close</button>
                        <v-button :loading="taskSettingsForm.busy" class="btn btn-primary">
                            Update Task
                        </v-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Form from 'vform';

    import { mapGetters } from 'vuex';

    export default {
        data: () => ({
            taskSettingsForm: new Form ({
                taskId: '',
                taskName: ''
            })
        }),
        computed:{
            ...mapGetters({
                modals: 'auth/modals',
                task: 'auth/task'
            })
        },
        methods:{
            async updateTaskSettings(){
                const { data } = await this.taskSettingsForm.patch('/api/tasks/' + this.task.id); // await can only be used inside an async function. Need to read up on this.

                this.$store.dispatch('auth/updateTask', { task: data });

                this.toggleModal('task-settings');
            },
            toggleModal(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            }
        },
        watch:{
            task: function(val){
                if(val){
                    this.taskSettingsForm.taskId = val.id;
                    this.taskSettingsForm.taskName = val.taskName;
                    this.$store.dispatch('auth/loading', false);
                }else{
                    this.$store.dispatch('auth/loading', true);
                }
            }
        }
    }
</script>

