<template>
    <div class="modal fade" :class="{ show: modals[14].open }" tabindex="-1" role="dialog" @click.self="toggleModal('warn-complete-company-info')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Ooops!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal('warn-complete-company-info')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-danger text-center" v-if="project"><strong>It looks like you havent added the company address yet.</strong></p>
                    <p class="text-center">The company address is required to complete the creation of an invoice. You can find it by clicking on the clients tab and clicking the cog icon next to that clients name.</p>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="toggleModal('warn-complete-company-info')">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                modals: 'auth/modals',
                project: 'auth/project'
            })
        },

        methods: {
            toggleModal: function(modalName){
                this.$store.dispatch('auth/toggleModal', modalName);
            }
        }
    }
</script>
